<app-navigation></app-navigation>
<br>
<br>
<br>
<br>
<!-- <p>
  products works!
</p>
<div *ngIf="!isLogged">Hola no estás loggeado</div>
<div *ngIf="isLogged">Estás loggeado como {{currentUser.name}}</div>
<button (click)='getProducts()'>Traer products</button> -->

<div class="container-fluid">
  <div class="col-md-6 col-md-offset-4" >
      <h3> {{ product.name  | uppercase}} </h3>
      <img src="{{product.images}}" alt="">
      <br />
      <h5><strong> Created by: </strong> {{ product.createdBy }} at {{ product.createdAt }}</h5>
      <p>{{ product.description }}</p>
      <span><strong>Product type: </strong> {{ product.type }} </span>
      <span><strong>Status: </strong> {{ product.status }} </span>
      <span>Price: <strong> <i class="fa fa-usd" aria-hidden="true"></i> {{ product.price }} </strong></span>
  </div>
</div>
