<app-navigation></app-navigation>
<br>
<br>
<br>
<br>
<!-- <p>
  products works!
</p>
<div *ngIf="!isLogged">Hola no estás loggeado</div>
<div *ngIf="isLogged">Estás loggeado como {{currentUser.name}}</div>
<button (click)='getProducts()'>Traer products</button> -->

<div class="container-fluid">
  <div class="col-md-6 col-md-offset-4" >
      <h3> {{ product.name  | uppercase}} </h3>
      <img src="http://placehold.it/350x350" alt="">
      <br />
      <span> {{ product.type}} </span>
      <span>Price: <strong> {{ product.price }} </strong></span>
  </div>
</div>
