
.example-header-image {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png');
  background-size: cover;
}

.price {
  margin: 8px 0;
  font-weight: 900;
  color: #4da3e2;
  font-size: 2.5rem;
}
.row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 15px;
 -webkit-column-gap:15px;
}

.row > .col-md-4 {
 display: inline-block;
 padding: 1;
 margin: 20px;
 width: 100%;
 float:none;
}
