
<div class="navbar-wrapper">
    <div class="container-fluid">
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Logo</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" [collapse]="isCollapsed">
                    <ul class="nav navbar-nav" (click)="isCollapsed = !isCollapsed">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/products">Home</a></li>
                        <li *ngIf="loggedIn" routerLinkActive="active"><a routerLink="/create" routerLinkActive="active" class="" >Create</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right" (click)="isCollapsed = !isCollapsed">
                        <li *ngIf="!loggedIn" routerLinkActive="active" ><a routerLink="/login" class="alc" >Login</a></li>
                        <li *ngIf="!loggedIn" routerLinkActive="active"><a routerLink="/signup" class="alc">Signup</a></li>
                        <li *ngIf="loggedIn" routerLinkActive="active"><a routerLink="/profile/show" class="alc"><i class="fa fa-user-o" aria-hidden="true"></i>  My profile</a></li>
                        <li *ngIf="loggedIn" class="" routerLinkActive="active"><a routerLink="/cart" class="alc">( {{ newUser.itemsInCart.length }} ) <i class="fa fa-shopping-cart" aria-hidden="true"></i>  Cart</a></li>
                        <li *ngIf="loggedIn" class=""><a href="" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>  Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
